version: '3.8'
services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - pgdata_volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5

  airflow-webserver:
    image: airflow_teste:latest
    container_name: airflow-webserver
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
    environment:
      - AIRFLOW__WEBSERVER__SECRET_KEY=b'\x94\x82%\xee\xc7\xa1a\x9a(\t\x9fB^\xed\xd6\x06'
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    command: webserver

  airflow-scheduler:
    image: airflow_teste:latest
    container_name: airflow-scheduler
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    command: scheduler

  streamlit:
    image: python:3.10-slim
    container_name: streamlit-dashboard
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
      - ./dashboard.py:/app/dashboard.py
      - ./requirements_streamlit.txt:/app/requirements_streamlit.txt
    working_dir: /app
    command: sh -c "pip install --no-cache-dir -r requirements_streamlit.txt && streamlit run dashboard.py"

volumes:
  pgdata_volume: